
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    h1{

      font-size:21px;
    }

    h3{

    	font-size: 16px;
    }


    .ih-item.circle .img{
position: relative;
    width: 206px;
    height: 182px;
    border-radius: 50%;

    }


}