@import url('https://fonts.googleapis.com/css?family=Taviraj');


body{

	font-family: 'Taviraj', serif;
	

}

.infolineheight{

	line-height: 30px;
}


 .socialmedia > li{

	   display: inline-block;
    margin:  12px;
}

section p {


	line-height: 28px;
}

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
    border: none;
}



.skillsbar{

border-radius: 3px;
-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.72);
-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.72);
box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.72);
padding: 20px;

}




.additionalskills{

border-radius: 3px;
-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.72);
-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.72);
box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.72);
padding: 20px;
padding-top: 50px;
}

.educationtime{

-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.72);
-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.72);
box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.72);
   padding: 38px;
  margin: 76px;
}

.companyinfo:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.companyinfo{

-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.72);
-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.72);
box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.72);
  height: 100%;
}

.educationtime:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}



.educationDate{


      border-bottom-left-radius: 15px;
    width: 165px;
    height: 48px;
    background: #0487cc;
    padding: 7px;
    color: white;
    margin-left: 1;
    position: relative;
    right: 52px;
    bottom: 26px;
}


h4 {

text-align:center;

}



.skilsheader{
 width: 283px;
    height: 59px;
    background: #0487cc;
    padding: 1px;
    color: white;
    margin-left: 1;
    z-index: 10000;
    position: relative;
    top: 22px;
   
   

}

.career p{

padding:10px;

 


}


.companyname{

    margin-top: 25px;
background:#424242;
position:relative;
color:white;
text-align: center;
    border-left: 20px solid white;
    border-bottom: 20px solid rgba(237, 54, 54, 0);
    border-top: 20px solid transparent;
    border-right: 20px solid white;
}








/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
  .modal.left .modal-dialog
   {
    position: fixed;
    margin: auto;
    width: 500px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
  }

  .modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
  }

  .modal.left .modal-content,
  .modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
  }
  


/*Left*/
  .modal.left.fade .modal-dialog{
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
         -o-transition: opacity 0.3s linear, left 0.3s ease-out;
            transition: opacity 0.3s linear, left 0.3s ease-out;
  }
  
  .modal.left.fade.in .modal-dialog{
    left: 0;
  }
        
/*Right*/
  .modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
         -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
  }
  
  .modal.right.fade.in .modal-dialog {
    right: 0;
  }

/* ----- MODAL STYLE ----- */
  .modal-content {
    border-radius: 0;
    border: none;
  }

  .modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
  }




ol>li{
margin: 10px;
  list-style:none
}



