

  <!-- Modal -->
  <div class="modal right fade" id="myproject" tabindex="-1" role="dialog" aria-labelledby="myproject">
    <div class="modal-dialog" role="document">
      <div class="modal-content ">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myproject">MY PROJECTS</h4>
        </div>

        <section class="modal-body">
         <article>

          <figure class="col-xs-12  col-sm-6 col-md-6 col-lg-6">




    <div class="ih-item circle effect2 left_to_right "><a href="http://www.zulaoyun.com" target="_blank">
        <div class="img">  <img src="images/zula.png" class="img-responsive " alt="Responsive image">
</div>
        <div class="info">
          <h3>ZULAOYUN</h3>
          
        </div></a>  </div>




          </figure>


          <figure class="col-xs-12  col-sm-6 col-md-6 col-lg-6">




    <div class="ih-item circle effect2 left_to_right"><a href="http://www.ruyakapani.com" target="_blank">
        <div class="img">  <img src="images/ruyakapani.png" class="img-responsive " alt="Responsive image">
</div>
        <div class="info">
          <h3>RUYAKAPANI</h3>
        </div></a>  </div>




          </figure>


          <figure class="col-xs-12 col-sm-6 col-md-6 col-lg-6">




    <div class="ih-item circle effect2 left_to_right"><a href="http://www.serdarseki.com" target="_blank">
        <div class="img">  <img src="images/serdarseki.png" class="img-responsive img-thumbnail" alt="Responsive image">
</div>
        <div class="info">
          <h3>SERDAR SEKİ</h3>
        </div></a>  </div>




          </figure>


          <figure class="col-xs-12  col-sm-6 col-md-6 col-lg-6">




    <div class="ih-item circle effect2 left_to_right"><a href="http://www.filmsanat.com" target="_blank">
        <div class="img">  <img src="images/filmsanat.png" class="img-responsive img-thumbnail" alt="Responsive image">
</div>
        <div class="info">
          <h3>FİLMSANAT</h3>
        </div></a>  </div>




          </figure>


          <figure class="col-xs-12 col-sm-6 col-md-6 col-lg-6">




    <div class="ih-item circle effect2 left_to_right"><a href="http://www.cornador.ca" target="_blank">
        <div class="img">  <img src="images/cornador.ca.png" class="img-responsive img-thumbnail" alt="Responsive image">
</div>
        <div class="info">
          <h3>CORNADOR.CA</h3>
        </div></a>  </div>




          </figure>



          <figure class="col-xs-12 col-sm-6 col-md-6 col-lg-6">




    <div class="ih-item circle effect2 left_to_right"><a href="http://torakskisokulu.com/" target="_blank">
        <div class="img">  <img src="images/toraks.png" class="img-responsive img-thumbnail" alt="Responsive image">
</div>
        <div class="info">
          <h3>TORAKS</h3>
        </div></a>  </div>




          </figure>


          <figure class="col-xs-12  col-sm-6 col-md-6 col-lg-6">




    <div class="ih-item circle effect2 left_to_right"><a href="http://www.globalkredi.com" target="_blank">
        <div class="img">  <img src="images/globalkredi.png" class="img-responsive img-thumbnail" alt="Responsive image">
</div>
        <div class="info">
          <h3>GLOBAL KREDİ</h3>
        </div></a>  </div>




          </figure>


          <figure class="col-xs-12  col-sm-6 col-md-6 col-lg-6">




    <div class="ih-item circle effect2 left_to_right"><a href="https://alo171.saglik.gov.tr/" target="_blank">
        <div class="img">  <img src="images/alo171.png" class="img-responsive img-thumbnail" alt="Responsive image">
</div>
        <div class="info">
          <h3>ALO 171</h3>
        </div></a>  </div>




          </figure>

         </article>
        </section>

      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->
  
  
</div><!-- container -->

