
	
	<header class="row">

	<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


<aside>
	<figure class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
	
<img src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/14570489_10208668588727085_6824388541721432613_n.jpg?oh=6ff0ef30e8b075aea68dc0ca02b4a8f2&oe=5921ADF7" alt="" class="img-thumbnail">


<button  style="width:100%" class="btn btn-primary center-block">  <i class="fa fa-download" aria-hidden="true"></i>
DOWNLOAD RESUME</button>


<button style="width:100% ;    margin-top: 10px;" type="button" class="btn btn-danger center-block" data-toggle="modal" data-target="#myexperiences"> <i class="fa fa-globe" aria-hidden="true"></i>
     MY EXPERİENCES
    </button>


    <button style="width:100% ;    margin-top: 10px;" type="button" class="btn btn-success center-block" data-toggle="modal"data-target="#myproject"> <i class="fa fa-globe" aria-hidden="true"></i>
      WORKS
    </button>

   



</figure>

</aside>




<article class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
	
<h1 style="color:#000">HI I'M <span style="color:#0487cc">SEZER SARUHAN</span> </h1>
<h3 style="    color: #757575;">Lead front end developer Beyn Technology  </h3>

   
<p>Hello! I’m sezer saruhan. front end developer with over 5 years of experience. Experienced with all stages of the development cycle for dynamic web projects. Having an in-depth knowledge including advanced HTML5, CSS3, JavaScript, jQuery, Angular JS. Strong background in management and leadership</p>
</article>

<article class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
	

  <div class="table-responsive" >
<table class="table table-borderless">
    <tbody>
      <tr>
        <td>Age:</td>
        <td>27</td>
        <td>Phone:</td>
        <td>0538 294 74 85</td>

      </tr>
      <tr>
        <td>Graduate:</td>
        <td> BARGU (Belarussian state univercity )</td>
        <td>Website:</td>
        <td> www.sezersaruhan.com</td>


      </tr>
    
 <tr>
        <td>Email:</td>
        <td> sezersaruhan90@gmail.com</td>
        <td>Nationality:</td>
        <td>Turkey</td>

        
      </tr>
    </tbody>

  </table>
 </div>


<footer>
	

<section class=" col-xs-12 col-md-12 col-lg-4 col-sm-12">
  
<article class="skillsbar">
 <h5>MEAN STACK</h5>
  <div class="skills"   data-width="80" data-target="100">
    
  </div>
 <h5>Less/CSS-3</h5>

<div class="skills"   data-width="90" data-target="100">
    
  </div>
<h5> REACT</h5>
<div class="skills"   data-width="60" data-target="100">
    
  </div>
</div>
<h5></h5>

<h5>BOOTSTRAP,FOUNDATİON
</h5>
<div class="skills"   data-width="90" data-target="100">
    
  </div>



</article>



</section>


  
<section class=" col-xs-12 col-md-12 col-lg-4 col-sm-12">
  
<article class="skillsbar">
 <h5>HTML-5 </h5>
  <div class="hobbys"   data-width="100" data-target="100">
    
  </div>
 <h5>UNİTY</h5>

<div class="hobbys"   data-width="55" data-target="100">
    
  </div>
<h5>PHASER</h5>
<div class="hobbys"   data-width="75" data-target="100">
    
  </div>
</div>
<h5></h5>

<h5>PHOTOSHOP
</h5>
<div class="hobbys"   data-width="70" data-target="100">
    
  </div>



</article>



</section>

<section class=" col-xs-12 col-md-4 col-lg-4 col-sm-12">



<article class="skillsbar">
 <h5>TURKİSH</h5>
  <div class="language"   data-width="100" data-target="100">
    
  </div>
 <h5>ENGLİSH</h5>

<div class="language"   data-width="90" data-target="100">
    
  </div>
<h5>RUSSİAN</h5>
<div class="language"   data-width="90" data-target="100">
    
  </div>
</div>
<h5></h5>

<h5>İTALİAN
</h5>
<div class="language"   data-width="35" data-target="100">
    
  </div>



</article>


</section>


</footer>

</article>


	</section>	



	</header>


  
  

  
