

  <!-- Modal -->
  <div class="modal left fade" id="myexperiences" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content col-xs-8 col-sm-12 col-md-12 col-lg-12">

        <div class="modal-header ">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">EXPERİENCES</h4>
        </div>

        <div class="modal-body">
         <section  id="works" >



<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >

<header>
<h4>Lead front end developer / Beyn Technology</h4>
<small> 01.2017-</small>
</header>


<section class="career">
<p>

</p>

</section>

</article>

<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >

<header>
<h4>Senior front end developer / Lokum Games</h4>
<small> 06.2016-01.2017</small>
</header>


<section class="career">
<p>
ı prepared publishing games for websites, mobile applications, In-game animations, and other publisher's front-end services
</p>

</section>

</article>

<article class=" col-xs-12 col-sm-12  col-md-12 col-lg-12 " >


<header>
<h4>Sağlık Bahçesi Eğitim Araştırma Danışmanlık </h4>
<small>10.2015-07.2016 </small>
</header>

<section class="career">

<p>I developed  applications (Web, mobile, Single page app) for leading healthcare companies (Pfhizer, Takeda, Msd, Thorax) and innovation, e-learning studies (Migros, TIM)
</p>



</section>
</article>
<article class=" col-xs-12 col-sm-12  col-md-12 col-lg-12" >

<header>
<h4>Web Arayüz Geliştirici / Gözen Air Services    </h4>
<small>08.2012-07.2013 </small>
</header>



<section class="career">

<p>
I served as a front end developer in the creation and development of interfaces used by Gözen Air Services.</p>
  
</section>

</article>

<article class=" col-xs-12 col-sm-12  col-md-12 col-lg-12 " >
<header>
<h4>Web Arayüz Geliştirici / Pusula Yazılım </h4>
 <small>01.2010-06.2012  </small>
</header>

<section class="career">

<p>
I worked as a front end developer at Pusula Software, which develops softwares that enable the production of harmonics, barcoded wholesale, barcoded retail store, barcoded diamond production and sale, and valuable or semi-precious stone purchase and sale operations integrated in a computerized environment (Altınbaş, Favori, Atasay etc)</p>
  
</section>

</article>














</section>
        </div>

      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->
  
